@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/dm-sans-v14-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/dm-sans-v14-latin-900.woff2') format('woff2'); 
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}